.logo{
    // position: absolute;
    // bottom: 3%;
    // left: 84%;
    // z-index: 999;
    position: fixed;
    bottom: 2%;
    left: 87%;
    z-index: 999999;
  }
  .logoImg{
    width: 74%;
  }
#login_section{   
    position: absolute;
    line-height: 25px;
    height: 100%;
    top: 0;
    bottom: 0;
    // left: 1%;
    color: #ffffffb3;
    padding-top: 2%;
    background-color: hsl(28deg 3% 20% / 46%);
}
input[type="text"], input[type="email"]{
    background-color: white;
    // border-radius: 10px;

    // border: 2px solid gold;
    // box-shadow: 1px 1px 1px 1px;
}
#submitBtn{
    // float: left;
    text-align: left;
    #loginbtn{
        // margin: 12px 4px;
        // background-color: crimson;
        // background-image: linear-gradient(to right, #271f18, #30261d);
    color: white;
    background-color: hsl(25deg 63% 52%);
        // border-radius: 24px;
        padding: 6px 70px;
        border: 1px solid white;
        
    }
}
label{
    color:#fff;
    font-weight: 900;
}

@media (max-width: 850px) and (orientation: landscape) {
    #login_section{max-width:70%}
    }

    #login_section::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    #login_section {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

form{
    padding: 0 22px;
}
@media screen and (min-device-width: 820px) and (max-device-width: 868px) { 
    #loginbtn{

        padding: 6px 30px !important;
 
        
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}