<div class="logo">
    <img src="assets/event/logos1.png" class="logoImg">
</div>
<section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-12  px-0">
                <img id="bgimg" src="assets/event/login.jpg" alt="" style="height: 100vh;
                width: 100%;">
                <!-- <video src="https://d3ep09c8x21fmh.cloudfront.net/world_summit/loginloop.mp4" style="width: 100%;" playsinline autoplay="autoplay" loop mute></video> -->
                <!-- <video id="myVideo" src="https://d3ep09c8x21fmh.cloudfront.net/world_summit/loginloop.mp4" width="100%" playsinline autoplay loop type="video/mp4" ></video> -->
                <div id="login_section" class="col-md-3 col-sm-5" style="max-height: 100vh; overflow-y: scroll;">
                    <div style="text-align: center;">
                    <img id="bgimg" src="assets/event/logo.png" alt="" style="width: 50%">
                    </div>
                    <form [formGroup]="loginForm" #loginFormDir="ngForm" (ngSubmit)="submitLogin()">
                        <div>

                            <h6 style="color: crimson;text-align: center;;">{{this.msg}}</h6>
                            
                            </div>    
                        <!-- <img class="mb-3" src="assets/event/form4.png" alt="" width="100%"> -->
                        <h4 style="font-weight: 800">Sign In</h4>
                     <div class="form-group">
                     <label>Name</label>
                    <input type="text" class="form-control" required autocomplete="off" formControlName="name">
                    <div class="invalidError" *ngIf="(loginForm.get('name').invalid && loginFormDir.submitted) || (loginForm.get('name').dirty && loginForm.get('name').invalid)">
                        Name is Required*
                    </div>
                    </div>
                    <div class="form-group ">
                    <label>Email ID </label>
                            <!-- <span><img routerLink="/signup" src="assets/event/button2.png" title="Register" width="20%" alt="" style="cursor: pointer; float: right;"></span> -->
                            <input type="text" class="form-control" required autocomplete="off" formControlName="email">
                            <div class="invalidError"
                                *ngIf="(loginForm.get('email').invalid && loginFormDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)">
                                Email ID is Required*
                            </div>                    
                        </div>
                        <div class="form-group ">
                        <label>Phone No.</label>
                        <input  type="number"  class="form-control" formControlName="phone" required>
                        <div class="invalidError"
                        *ngIf="(loginForm.get('phone').invalid && loginFormDir.submitted) || (loginForm.get('phone').dirty && loginForm.get('phone').invalid)" >
                        Phone Number is Required*
                    </div>
                        </div>
                        <div class="form-group">
                            <label>Firm/Organisation/College</label>
                           <input type="text" class="form-control" required autocomplete="off" formControlName="organisation">
                           <div class="invalidError" *ngIf="(loginForm.get('organisation').invalid && loginFormDir.submitted) || (loginForm.get('organisation').dirty && loginForm.get('organisation').invalid)">
                            Firm/Organisation/College is Required*
                           </div>
                           </div>
                        <div id="submitBtn">
                            <input name="login" id="loginbtn" class="btn form-control" type="submit" value="Login">
                        </div>

                    </form>
                    <br>
                    <!-- <div id="already_reg" class="m-2">
                <p><span class="text-dark">Not Registered?</span> &nbsp; <a routerLink="/signup" class="h6" title="Signup">Signup</a></p>
            </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
    <span id="skip" *ngIf="isVideoPlayed">
        <a class="nav-link sign" (click)="skip()" title="skip" role="button">
            Skip</a>
    </span>
    <video id="outerVideo" preload="auto" class="videoBg" (ended)="endVideo()" playsinline>
        <source src="https://d3ep09c8x21fmh.cloudfront.net/npac/outer.mp4" type="video/mp4">
    </video>
</div>
<!-- <div id="underprogress">
    <p>Something Awsome will be coming soon...</p>
</div> -->