#arrowButtons{
    color: white;
    #arrLeft,#arrRight{
        cursor: pointer;
        position: fixed;
        bottom: 15%;
        font-weight: 600;
        background-color: #e17044;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        text-align: center;
        box-shadow: 0 0 5px 2px #e17044;
        .fa{
            font-size: 48px;
            // background: black;
            border-radius: 50%;
            line-height: 46px;
        }
        
    }
    #arrLeft{
        left: 3%;
    }
    #arrRight{
        right: 3%;
    }
}
#arrLeft:hover, #arrRight:hover{
    transition: .3s;
    transform: scale(1.2);
}

.p1{
    top: 78%;
    left: 22.3%;
}
.p2{
    top: 78%;
    left: 6%;
}
.p3{
    top: 50%;
    left: 41.5%;

}
.p4{
    top: 63%;
    left: 25.5%;
}
.p5{
    top: 62%;
    left: 55%;
}
.p6{
    top: 49.7%;
    left: 81%;
}

.p7{
    
    top: 79%;
    left: 90%;
}
.p8{
    top: 78%;
    left: 57%;
}
.p9{
    top: 62%;
    left: 85.6%;
}
.p10{
    top: 62%;
    left: 41%;
}
.p11{
    top: 63%;
    left: 70.5%;
}
.p12{
    top: 78%;
    left: 74%;
}
.p13{
    top: 50%;
    left: 68%;
}
.p14{
    top: 49%;
    left: 54.5%;
}
.p15{
    top: 77.7%;
    left: 39.5%;
}
.p16{
    top: 50.7%;
    left: 28.5%;
}
.p17{
    top: 62.7%;
    left: 11.5%;
}
.p18{
    top: 50.7%;
    left: 15.5%;
}