<section id="bg_section">
    <div id="content_section">
        <div id="arrowButtons" *ngIf="totalStageHalls > 1">
            <div [ngStyle]="{'display':(page !== 1)? 'block': 'none'}" id="arrLeft" (click)="hallPaging('left')" title="Previous Hall" data-bs-toggle="tooltip" data-bs-placement="top">
                <span><i class="fa fa-chevron-circle-left"></i></span>
            </div>
            <div *ngIf="totalStageHalls !== page" id="arrRight" (click)="hallPaging('right')" title="Next Hall" data-bs-toggle="tooltip" data-bs-placement="top">
                <span><i class="fa fa-chevron-circle-right"></i></span>
            </div>
        </div>
        <img id="bgimg" src="{{bgImg}}" alt="">
        <div *ngFor="let p of stall_list_rec['stalls']" data-bs-toggle="tooltip" class="{{p.class}}" id="{{p.cass}}" data-bs-placement="top" (click)="pointerMethod(p)">
          <div class="pulsating-circle"></div>
        </div>
    </div>
</section>
<app-pdfmodal></app-pdfmodal>