<section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div id="content_section">
        <!-- <img id="bgimg" src="assets/event/lobby.jpg" alt=""> -->
        <!-- <div id="onloadPlayer">
          <video id="centerPlay" width="100%" muted preload="auto" playsinline  controls loop>
              <source src="https://d3ep09c8x21fmh.cloudfront.net/techgig/speedhire.mp4" type="video/mp4">
              Your browser does not support the video tag.
          </video> 
      </div> -->
        <img id="bgimg" [src]="lobbyImage" alt="">
        <!-- <video src="https://d3ep09c8x21fmh.cloudfront.net/world_summit/lobbyloop.mp4" width="100%" playsinline autoplay loop type="video/mp4" poster="assets/event/lobby.jpg"></video> -->
        <ng-container *ngFor="let p of pointers">
          <div *ngIf="p.is_enabled === true" data-bs-toggle="tooltip" id="{{p.class}}" data-bs-placement="top"  [ngClass]="p.class" [ngStyle]="{'top':p.top+'%','left':p.left+'%'}" (click)="pointerMethod(p)">
            <div class="pulsating-circle"></div>
          </div>
        </ng-container>        
    </div>
</section>
<div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
  <span id="skip" *ngIf="isVideoPlayed">
    <a class="nav-link sign" (click)="skip()" title="skip" role="button">
        Skip</a>
  </span>
    <video id="pointerVideo" preload="auto" class="videoBg" (ended)="endVideo()" poster="assets/event/lobby.jpg">
      <source src="https://d3ep09c8x21fmh.cloudfront.net/tie_iid/outer.mp4" type="video/mp4">
    </video>
</div>
<app-pdfmodal [rName]="sName"></app-pdfmodal>
<!-- <button id="startTour" class="start-tour">start tour</button> -->

<!-- <div class="my-title">IntroJS Tour Example</div>
<div class="my-container">
  <div id="one" class="a-section">one</div>
  <div id="two" class="a-section">two</div>
  
  <div class="clear">
    <button id="startTour" class="start-tour">start tour</button>
  </div>
</div> -->

