.l1{
    position: absolute;
    height: 4%;
    width: 10%;
    cursor: pointer;
    left: 22%;
    top: 47%;
}

.l2{
    position: absolute;
    height: 4%;
    width: 10%;
    cursor: pointer;
    left: 37%;
    top: 47%;
}

.l3{
    position: absolute;
    height: 4%;
    width: 10%;
    cursor: pointer;
    left: 52.55%;
    top: 47%;

}

.l4{
    position: absolute;
    height: 4%;
    width: 10%;
    cursor: pointer;
    left: 67.35%;
    top: 47%;

}