<section id="bg_section">
    <div id="content_section">
        <img id="bgimg" src="assets/event/rooms.jpg" alt="">
        <div class="l1" title="meeting1" (click)="gotoMeeting('meeting1')">
            <div class="pulsating-circle"></div>
        </div>
        <div class="l2" title="meeting2" (click)="gotoMeeting('meeting2')">
            <div class="pulsating-circle"></div>
        </div>
        <div class="l3" title="meeting3" (click)="gotoMeeting('meeting3')">
            <div class="pulsating-circle"></div>
        </div>
        <div class="l4" title="meeting4" (click)="gotoMeeting('meeting4')">
            <div class="pulsating-circle"></div>
        </div>
    </div>
</section>