#a_chat_listing{
    position: fixed;
    bottom: 50px;
    right: 15px;
    padding: 3px;
    background: white;    
    transform: translateY(3000px);
    transition: .3s;
    border-radius: 5px;
    #a_chat_box{
        width: 360px;
        // height: 500px;
        // max-height: 500px;
        height: 420px;
    max-height: 420px;
        margin: 10px 10px 20px 10px;
        padding: 10px;
        overflow: auto;
    }
}

@media only screen and (max-width: 900px) {
    #a_chat_box{
        width: auto !important;
        height: auto !important;
        max-height: 500px;
        margin: 10px 10px 20px 10px;
        padding: 10px;
        overflow: auto;
    }
    #a_chat_listing{
        position: fixed;
        bottom: 20px;
        right: 15px;
      
    }
    #bgimg{
        position: fixed;
        width: 100%;
       
        left: 0;
        right: 0;
        height: 100vh;
    }
  }

#a_chat_list{
    #a_chat_user{
       position: relative;
       display: flex;
       .a_u_name{
           color: #484646c7;
       }
       #a_circle_user{
           position: relative;
           width: 50px;
           height: 50px;
           border-radius: 50%;
        //    background: blue;
           border: 2px solid #6b6767;
           transition: .3s;
           #a_f{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #6b6767;
            font-size: 24px;
            text-transform: capitalize;
            }
       }
       
    }
}
#a_chat_list_item{
    transition: .3s;
    cursor: pointer;
}
#a_chat_list_item:hover{
    transition: .3s;
    transform: translate(-10px);
    background: #0e6dfbec;
    border-radius: 55px 5px;
    .a_u_name{
        color: white !important;
        text-transform: capitalize;
    }
    #a_circle_user{
        transform: scale(1.2);
        transition: .3s;
        border: 2px solid #fff !important;
        #a_f{
            color: white !important;
        }
    }
}

#boothIcons{
    position: absolute;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
    ul{
        padding: 3px;
        li{
            list-style: none;
            cursor: pointer;
            text-decoration: none;
            padding: 8px 40px 8px 25px;
            border-radius: 5px;
            margin: 28px 5px;
            background-color: white;
            position: relative;
            text-transform: capitalize;
            transition: .3s;
            // transform: translateX(-105px);
            a{
                list-style: none;
                text-decoration: none;
                color: black;
                span{
                    width: 46px;
                    position: absolute;
                    right: -24px;
                    background: #fff;
                    top: -6px;
                    border-radius: 50%;
                    padding: 10px;                                    
                    img{
                        width: 100%;
                        transition: .3s;
                    }
                    
                }
            }
        }
        li:hover{
            transform: translateY(-5px);
            transition: .3s;
            img{
                transition: .3s;
                transform: scale(1.5);
            }
        }
    }
}