<div class="modal fade" id="pdf_modal" tabindex="-1" aria-labelledby="pdf_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="pdf_modalLabel">Agenda</h5>
            <!-- {{rName | titlecase}} -->
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <div>
                <!-- <div [ngSwitch]="rName"> -->
                  <!-- <div *ngSwitchCase="'feedback'">
                    <iframe _ngcontent-vet-c14="" id="iframe_feedback" frameborder="0" height="550"
                      src="https://forms.gle/bJLEsiJUpLHgx4vn6" width="100%"></iframe>
                  </div> -->
                  <!-- *ngSwitchCase="'agenda'" -->
                  <div>
                    <embed src="assets/event/agenda.pdf" frameborder="0"
                      width="100%" height="600">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="win_modal" tabindex="-1" aria-labelledby="win_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="win_modalLabel">Participate & Win</h5>
            <!-- {{rName | titlecase}} -->
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <div>
                <!-- <div [ngSwitch]="rName"> -->
                  <!-- <div *ngSwitchCase="'feedback'">
                    <iframe _ngcontent-vet-c14="" id="iframe_feedback" frameborder="0" height="550"
                      src="https://forms.gle/bJLEsiJUpLHgx4vn6" width="100%"></iframe>
                  </div> -->
                  <!-- *ngSwitchCase="'agenda'" -->
                  <div>
                    <embed src="assets/event/win.jpg" frameborder="0"
                      width="100%">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="quiz_modal" tabindex="-1" aria-labelledby="quiz_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="quiz_modalLabel">Quiz</h5>
            <!-- {{rName | titlecase}} -->
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <div>
                <!-- <div [ngSwitch]="rName"> -->
                  <!-- <div *ngSwitchCase="'feedback'"> -->
                    <!-- <iframe _ngcontent-vet-c14="" id="iframe_feedback" frameborder="0" height="550"
                      src="assets/event/quiz.pdf" width="100%"></iframe> -->
                  <!-- </div> -->
                  <!-- *ngSwitchCase="'agenda'" -->
                  <!-- <div> -->
                    <!-- <embed src="assets/event/win.jpg" frameborder="0"
                      width="100%"> -->
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>